<!-- footer.ejs | Dylan | 301294233 | 09/29/2023 -->
<head>
  <link rel="stylesheet" href="/stylesheets/partials/footer.css" />
</head>
<footer>
  <!-- Dynamic data from the portfolio.json -->
  <p>
    © <%= portfolio.year %> <%= portfolio.name %> - <%= portfolio.id %> - <%=
    portfolio.college %>
  </p>
</footer>
