<!-- header.ejs | Dylan | 301294233 | 09/29/2023 -->
<head>
  <link rel="stylesheet" href="/stylesheets/partials/header.css" />
</head>
<nav>
  <div class="logo-name">
    <!-- Getting the image from the public folder and name from the portfolio.json -->
    <img src="/images/logo.png" alt="dylan logo" height="100px" width="100px" />
    <h1><%= portfolio.name %>'s Portfolio</h1>
  </div>
  <ul class="page-links">
    <li><a href="/">Home</a></li>
    <li><a href="/aboutme">About Me</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/contact" class="contact">Contact</a></li>
  </ul>
</nav>
