<!-- profile.ejs | Dylan | 301294233 | 09/29/2023 -->
<div class="profile">
    <!-- This partial retrieves data from the portfolio.json and displays it -->
  <div class="picture">
    <img
      src="/images/logo.png"
      alt="profile picture"
      height="300px"
      width="300px"
    />
  </div>
  <div class="info">
    <h2><%= portfolio.name %></h2>
    <p><%= portfolio.pronouns %></p>
    <p><%= portfolio.location %></p>
  </div>
  <div class="about">
    <h4>Brief Description</h4>
    <p><%= portfolio.short_description %></p>
    <a href="aboutme">More About...</a>
  </div>
</div>
