<!-- index.ejs | Dylan | 301294233 | 09/29/2023 -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <section class="home-section">
    <!-- Here I include the profile -->
    <%- include('./partials/profile.ejs') %>

    <div class="brief-projects-services">

    </div>
  </section>
</html>
