<!-- layout.ejs | Dylan | 301294233 | 09/29/2023 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/partials.css">
    <title><%= title %></title>
</head>
<body>
    <!-- Includes the header in all the pages -->
    <%- include('./partials/header') %>

    <!-- Includes the content of all the pages/routes we're visiting -->
    <%- body %>

    <!-- Includes the footer in all the pages -->
    <%- include('./partials/footer') %>
</body>
</html>