/*
  projects.css | Dylan | 301294233 | 09/30/2023
*/
.projects > h1,
.projects > p {
  text-align: center;
  color: var(--secondary);
}

.projects > p > a {
  font-weight: 600;
  text-decoration: underline;
  color: var(--secondary);
}

.list-projects {
  padding: 3em 10em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


@media (max-width: 768px) {
  .list-projects {
    padding: 3em 1em;
  }

  .projects > p {
    margin: 0 1em;
  }

  .projects h2 {
    font-size: 18px;
  }

  .projects p {
    font-size: 12px;
  }
}