/*
  projects.css | Dylan | 301294233 | 09/30/2023
*/
.projects > h1,
.projects > p {
  text-align: center;
  color: var(--secondary);
}

.projects > p > a {
  font-weight: 600;
  text-decoration: underline;
  color: var(--secondary);
}

.list-projects {
  padding: 3em 10em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background-color: var(--secondary);
  padding: 2em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card > p:first-of-type {
  font-weight: 500;
}

.card > .images {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  padding-bottom: 5px;
}

.card ::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

.card > .images > img {
  object-fit: contain;
  background-color: black;
  border-radius: 10px;
}

.card > a {
  background-color: var(--primary);
  padding: 10px 8px;
  border-radius: 5px;
  font-weight: 600;
  color: var(--secondary);
  text-align: center;
}
