/*
  header.css | Dylan | 301294233 | 09/30/2023
*/
nav {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  padding: 0.5em;
  justify-content: space-between;
}

nav > .logo-name {
  display: flex;
  align-items: center;
  color: var(--secondary);
  gap: 10px;
}

nav > .page-links {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-right: 30px;
}

nav > .page-links a {
  color: var(--secondary);
  font-size: 18px;
  font-weight: 600;
}

nav > .page-links .contact {
  background-color: var(--secondary);
  color: var(--primary);
  padding: 5px 10px;
  border-radius: 5px;
}
