/*
  tech-stack.css | Dylan | 301294233 | 09/30/2023
*/

.tech-stack {
  background-color: var(--secondary);
  margin: 2em;
  padding: 1em;
  color: var(--primary);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tech-stack > .stack {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  padding: 1em;
  border-radius: 10px;
}

.tech-stack > .stack > img {
  background-color: var(--secondary);
  padding: 5px;
  border-radius: 15px;
}
